.env
.__pycache__
.ai_response.cpython-312.pyc
.email_utils.cpython-312.pyc
.email.cpython-312.pyc
.Mongo_DB.cpython-312.pyc
.pre_process.cpython-312.pyc
.Mongo_DB.cpython-313.pyc
.pre_process.cpython-313.pyc
.email_utils.cpython-313.pyc
.ai_response.cpython-313.pyc